name: Deploy Images to VPS(beta)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  push-store-image:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: '.'
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set enviroment
        shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: nrmnqdds
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/nrmnqdds/mallamchat-webapp:${{ env.sha_short }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            sed -i "/mallamchat-webapp-beta:/,/restart:/ s|'ghcr.io/nrmnqdds/mallamchat-webapp:[^']*'|'ghcr.io/nrmnqdds/mallamchat-webapp:${{ github.sha::4 }}'|" /home/ubuntu/docker-compose.yaml
            docker login ghcr.io -u nrmnqdds -p ${{ secrets.GHCR_TOKEN }}
            docker compose up --force-recreate --build -d mallamchat-webapp-beta
            docker system prune -a -f
